
*
        {
            margin: 0px;
            scroll-behavior: smooth;
        }
        .container
        {
            background-color: beige;
            position: fixed;
            overflow: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .row
        {
            background-color: rgb(140, 52, 52);
           color: white;
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0px;
        }
        .row1
        {
            display: flex;
            
            justify-content: space-around;
            padding: 20px;
            height: 100%;
            align-items: center;
        }
        .row2
        {
            display: flex;
            background-color: rgb(193, 193, 123);
            justify-content: space-around;
            padding: 20px;
            height: 100%;
            align-items: center;
        }
        .row3
        {
            display: flex;
            background-color: beige;
            justify-content: space-around;
            padding: 20px;
            height: 100%;
            align-items: center;
        }
        .row4
        {
            display: flex;
            background-color: rgb(193, 193, 123);
            justify-content: space-around;
            padding: 20px;
            height: 100%;
            align-items: center;
        }
        .row5
        {
            display: flex;
            background-color: beige;
            justify-content: space-around;
            padding: 20px;
            height: 100%;
            align-items: center;
        }
        .footer
        {
            background-color: black;
            color: aliceblue;
        }
        .box
        {
           
            padding: 10px;
        }
        .box1
        {   
            background-color: white;
            color: black;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
        }
        li
        {
            display: inline;
            padding: 5px;
            font-size: larger;
        }
        a
        {
            text-decoration: none;
        }
        a:hover
        {
            background-color: whitesmoke; 
            text-decoration: antiquewhite;
            font-style: italic;
        }
        .imgclass
        {
            border-radius: 200px;
        }
        